
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    
</head>
<body>
@{

    var time = DateTime.Now;

    <h1>TIME NOW IS : @time</h1>
}
</body>
</html>
