@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>TheRainMaker</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/Stye.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="profile">
                <div class="meta">
                    <img class="avatar" src="http://weirdof.com/logo1.gif" />
                    <h2>TheRainMaker</h2>
                    <div class="position">Pentester & Developer</div>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="portfolio">
                <h1>TheRainMaker</h1>
                <p>Do you need to hire a coder? </p>
                <p>basic and complex configs/checkers/tools/automation</p>
                <p>contact me on the addresses below</p>
                <p>
                    Discord : .TheRainMaker#0001<br>
                    Telegram : @@Mojaforlife<br>
                    Jabber : <a>SexoBayco@Protonmail.com</a><br>
                    Email : <a>SexoBayco@Protonmail.com</a>
                </p>
            </div>
        </div><br>
        <a href="https://awmproxy.net/?a=367946" target="_blank">Buy Cheap Proxies</a>
        <a href="https://go.getproton.me/" target="_blank"><img src="https://media.go2speed.org/brand/files/proton/15/PM728x90-min.png" width="728" height="90" border="0" /></a><img src="https://go.getproton.me/" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" />
        <a href="https://go.getproton.me/aff_c?" target="_blank"><img src="https://media.go2speed.org/brand/files/proton/10/PV728x90-min.png" width="728" height="90" border="0" /></a><img src="https://go.getproton.me/" width="0" height="0" style="position:absolute;visibility:hidden;" border="0" />
    </div>
<!-- ghir zyada -->
 <div>
        <a href='https://www.symptoma.fr/fr/info/covid-19#info'>Coronavirus 2019</a>
        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=d8b91186484a7fc200d03cdc1d4332ee959e06d7'></script>
        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/791903/t/13"></script>
    </div>
    <script src="./js/JavaScript.js"></script>
   
</body>
</html>